<div class='moji'>
  <div class='moji-content'><%= link_to moji.content, moji %></div>
  <br/>
  <br/>
  <b>created by: </b><%= link_to moji.user.username, "/users/#{moji.user.id}" %>
  <%= display_avatar moji.user %>
  <%= "#{time_ago_in_words(moji.created_at)}#{t(:ago)}"  %>
  <br />
  <button data-clipboard-text='<%= moji.content %>' id='d_clip_button' title='Click me to copy to clipboard.'>
    <b>Copy Moji to Clipboard...</b>
  </button>
  <br />
  <b>Tags: </b><%= display_tags moji.tags %>
</div>
<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });
</script>
